// palette from https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51
$charcoal: #264653;
$persianGreen: #2A9D8F;
$orangeYellowCrayola: #E9C46A;
$sandyBrown: #F4A261;
$burntSienna: #E76F51;

// base colors

$white: #fff;